html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    box-sizing:border-box
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
body{
    line-height:1;
    font-size:16px
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
html{
    opacity:1;
    transition:opacity 250ms;
    scroll-behavior:smooth
}
html.wf-loading{
    visibility:hidden;opacity:0
}
body{
    color:#02040F;
    font-family:Arial, sans-serif;
    -webkit-text-size-adjust:100%
}
header{
    width:100vw;
    display:block;
    box-shadow:0 0 10px #02040F;
    height:7rem;
    position:fixed;
    top:0;
    z-index:10;
    background:#fff
}
@media (max-width: 1000px){
    header{
        height:auto;overflow:scroll;
        -webkit-overflow-scrolling:touch
    }
}
header>div{
    overflow:hidden
}
header .constrain{
    height:5rem
}
@media (max-width: 500px){
    header .constrain{
        height:4rem
    }
}
header .logo{
    max-height:4rem;
    width:11rem;
    margin:.5rem 0;
    float:left
}
@media (max-width: 1000px){
    header .logo{
        margin-left:1rem
    }
}
@media (max-width: 1000px){
    header .logo{
        margin:.5rem;width:8rem
    }
}
header h1{
    text-align:right;
    float:right;
    position:relative;
    top:50%;margin:0;
    transform:translateY(-50%);
    text-transform:uppercase;
    font-size:1.7rem;
    color:#02040F;
    padding-bottom:0
}
@media (max-width: 1000px){
    header h1{
        width:50vw;
        text-align:center;
        font-size:1.5rem;
        margin:auto;
        float:none
    }
}
@media (max-width: 550px){
    header h1{
        display:none
    }
}
header #mobileMenu{
    position:absolute;
    top:50%;
    right:1rem;
    transform:translateY(-50%);
    border:none;
    background:#87053b;
    color:white;
    padding:.5rem 1rem;
    border-radius:.3rem
}
@media (min-width: 1001px){
    header #mobileMenu{
        display:none
    }
}
header #mobileMenu i{
    transition:transform .6s
}
header #mobileMenu i.rotate{
    transform:rotate(-180deg)
}
header nav{
    width:100vw;
    line-height:2em;
    background:#87053b;
    font-family:"alternate-gothic-no-3-d",sans-serif;
    font-weight:700;
    position:absolute;
    bottom:0;
    letter-spacing:1px
}
@media (max-width: 1000px){
    header nav{
        position:relative;
        overflow:scroll;
        transition:all .6s;
        max-height:0
    }
    header nav.display{
        max-height:calc(100vh - 5rem)
    }
}
@media (max-width: 500px){
    header nav.display{
        max-height:calc(100vh - 4rem)
    }
}
header nav ul{
    max-width:60rem;
    margin:0 auto;
    display:flex;
    justify-content:space-between
}
@media (max-width: 1000px){
    header nav ul{
        flex-direction:column;
        margin:.5rem auto;
        max-width:none;
        padding-bottom:6rem
    }
}
header nav ul li{
    transition:all .6s
}
@media (max-width: 1000px){
    header nav ul li a{
        padding:0 1rem;
        width:100vw
    }
}
header nav ul li ul{
    max-height:0;
    height:auto;
    overflow:hidden;
    position:absolute;
    margin-left:-.5em;
    width:auto;
    display:block;
    transition:all .6s;
    box-shadow:0 0 1rem #02040F;
    background:rgba(2,4,15,0.6);
    z-index:5;
    padding-bottom:0
}
@media (max-width: 1000px){
    header nav ul li ul{
        position:relative;
        margin-left:0
    }
}
header nav ul li ul.ch1,header nav ul li ul.ch2,header nav ul li ul.ch3,header nav ul li ul.ch4,header nav ul li ul.ch5,header nav ul li ul.ch6{
    transition-duration:.3s
}
header nav ul li ul li{
    display:block;
    letter-spacing:1px;
    margin-top:1px;
    background:#fff
}
header nav ul li ul a{
    color:#87053b;
    padding:0 .5em;
    width:100%;
    transition:all .6s;
    opacity:1;
    display:block;
    margin-bottom:1px;
    background:#fff;
    box-shadow:none;
    margin:0;
    text-transform:none
}
@media (max-width: 1000px){
    header nav ul li ul a{
        width:100vw;
        padding:.5em 1em;
        line-height:1em
    }
}
header nav ul li ul a:hover{
    color:#fff;
    box-shadow:inset 0 0 1.2rem 1.2rem #87053b
}
@media (max-width: 1000px){
    header nav ul li .ch1{
        max-height:none
    }
    header nav ul li .ch2{
        max-height:none
    }
    header nav ul li .ch3{
        max-height:none
    }
    header nav ul li .ch4{
        max-height:none
    }
    header nav ul li .ch5{
        max-height:none
    }
    header nav ul li .ch6{
        max-height:none
    }
    header nav ul li .ch7{
        max-height:none
    }
    header nav ul li .ch8{
        max-height:none
    }
    header nav ul li .ch9{
        max-height:none
    }
    header nav ul li .ch10{
        max-height:none
    }
    header nav ul li .ch11{
        max-height:none
    }
    header nav ul li .ch12{
        max-height:none
    }
    header nav ul li .ch13{
        max-height:none
    }
    header nav ul li .ch14{
        max-height:none
    }
    header nav ul li .ch15{
        max-height:none
    }
    header nav ul li .ch16{
        max-height:none
    }
    header nav ul li .ch17{
        max-height:none
    }
    header nav ul li .ch18{
        max-height:none
    }
    header nav ul li .ch19{
        max-height:none
    }
}
header nav ul li:hover ul{
    z-index:10
}
header nav ul li:hover a{
    opacity:1
}
header nav ul li:hover .ch1{
    max-height:33px
}
header nav ul li:hover .ch2{
    max-height:66px
}
header nav ul li:hover .ch3{
    max-height:99px
}
header nav ul li:hover .ch4{
    max-height:132px
}
header nav ul li:hover .ch5{
    max-height:165px
}
header nav ul li:hover .ch6{
    max-height:198px
}
header nav ul li:hover .ch7{
    max-height:231px
}
header nav ul li:hover .ch8{
    max-height:264px
}
header nav ul li:hover .ch9{
    max-height:297px
}
header nav ul li:hover .ch10{
    max-height:330px
}
header nav ul li:hover .ch11{
    max-height:363px
}
header nav ul li:hover .ch12{
    max-height:396px
}
header nav ul li:hover .ch13{
    max-height:429px
}
header nav ul li:hover .ch14{
    max-height:462px
}
header nav ul li:hover .ch15{
    max-height:495px
}
header nav ul li:hover .ch16{
    max-height:528px
}
header nav ul li:hover .ch17{
    max-height:561px
}
header nav ul li:hover .ch18{
    max-height:594px
}
header nav ul li:hover .ch19{
    max-height:627px
}
header nav ul a{
    font-family:"mr-eaves-xl-modern",sans-serif;
    color:#fff;
    line-height:2rem;
    text-decoration:none;
    text-transform:uppercase;
    display:inline-block;
    transition:opacity .3s
}
header nav ul.dim a{
    opacity:.5
}
@media (max-width: 1000px){
    header nav ul.dim a{
        opacity:1
    }
}
header nav ul.dim a:hover{
    opacity:1
}
section:first-of-type{
    margin-top:7rem
}
@media (max-width: 1000px){
    section:first-of-type{
        margin-top:5rem
    }
}
@media (max-width: 500px){
    section:first-of-type{
        margin-top:4rem
    }
}
section.contentArea{
    padding-top:2rem
}
section.hero{
    position:relative;
    height:20rem;
    font-family:"mr-eaves-xl-modern",sans-serif
}
@media (max-width: 500px){
    section.hero{
        height:19rem;margin-bottom:1rem}}section.hero ul.slide{height:20rem;overflow:hidden}section.hero .hero{background-size:cover;background-position:center center;width:100vw;height:20rem;color:#fff}section.hero .hero .constrain{display:flex-box;align-content:center;position:relative;top:50%;transform:translateY(-50%)}section.hero .hero h1{margin-bottom:1.5rem;padding-bottom:0;text-shadow:0 0 0.2em #02040F,0 0 0.2em #02040F;text-transform:uppercase;color:#fff}@media (max-width: 1000px){section.hero .hero h1{margin:0 0 1rem 4rem}}@media (max-width: 500px){section.hero .hero h1{font-size:1.5rem;margin:0 2.5rem 1rem}section.hero .hero h1 br{display:none}}section.hero .hero p{font-size:1.4rem;line-height:1.1em;text-shadow:0 0 0.5em #02040F,0 0 0.5em #02040F,0 0 0.5em #02040F}@media (max-width: 1000px){section.hero .hero p{margin:0 0 0 4rem}}@media (max-width: 500px){section.hero .hero p{margin:0 2.5rem;font-size:1.2rem}section.hero .hero p br{display:none}}section.hero .hero p.link a{margin-top:2rem;padding:.5rem 1.3rem;background:#87053b;display:inline-block;text-shadow:none;font-size:1rem;letter-spacing:1px;font-weight:700;border-radius:.3em;color:#fff;text-decoration:none;transition:all .6s;text-transform:uppercase;box-shadow:none}@media (max-width: 500px){section.hero .hero p.link a{letter-spacing:0}}section.hero .hero p.link a i{font-size:1rem;font-weight:700}section.hero .hero p.link a:hover{box-shadow:inset 0 0 1.3rem 1.3rem #09375f,0 0 1.3rem #fff;color:#E5DADA}section.hero .nav{width:100%;position:absolute;bottom:0;text-align:center}@media (max-width: 500px){section.hero .nav{position:relative;margin-top:-1.5rem}}section.hero .nav .slick-dots{transform:translateY(-0.5rem)}section.hero .nav .slick-dots li{display:inline}section.hero .nav .slick-dots li.slick-active button{background:rgba(255,255,255,0.9)}section.hero .nav .slick-dots button{width:.8rem;height:.8rem;border-radius:50%;display:inline-block;border:none;background:rgba(255,255,255,0.5);margin:.2rem;transition:background .3s;font-size:.9rem;font-size:0;line-height:0;color:transparent;outline:none}section.hero .nav .slick-dots button:hover{background:#fff;cursor:pointer}section.hero .prev,section.hero .next{position:absolute;top:calc(50% - 1rem);transform:translateY(-50%);color:rgba(255,255,255,0.5);padding:1rem;z-index:1001;cursor:pointer;transition:all .5s}section.hero .prev:hover,section.hero .next:hover{color:#fff;text-shadow:0 0 1em #02040f}@media (max-width: 500px){section.hero .prev,section.hero .next{padding:.5rem}section.hero .prev .fa-5x,section.hero .next .fa-5x{font-size:3rem}}section.hero .prev a,section.hero .next a{color:rgba(255,255,255,0.5);transition:color .3s}section.hero .prev{left:0}section.hero .next{right:0}section.dashRow{display:flex;flex-wrap:wrap;padding:.5rem 0;justify-content:space-between;line-height:1.2em;transition:opacity .3s}@media (max-width: 1000px){section.dashRow{padding:.5rem 2rem;margin-bottom:1rem;justify-content:space-between}}@media (max-width: 500px){section.dashRow{padding:.5rem 1rem}}section.dashRow .dashBox{width:32%;padding-bottom:3rem;position:relative;border-radius:.5rem .5rem 0 0;overflow:hidden;transition:opacity .3s;background:rgba(229,218,218,0.2);box-shadow:inset 0 3rem 4rem rgba(229,218,218,0.2)}section.dashRow .dashBox:nth-of-type(1){order:1}section.dashRow .dashBox:nth-of-type(2){order:2}section.dashRow .dashBox:nth-of-type(3){order:3}@media (max-width: 1000px){section.dashRow .dashBox:nth-of-type(3){order:4}}@media (max-width: 500px){section.dashRow .dashBox:nth-of-type(3){order:3}}section.dashRow .dashBox:nth-of-type(5){order:5}section.dashRow .dashBox:nth-of-type(6){order:6}section.dashRow .dashBox:nth-of-type(7){order:7}section.dashRow .dashBox:nth-of-type(8){order:8}@media (max-width: 1000px){section.dashRow .dashBox{width:49%;margin-bottom:1rem}}@media (max-width: 500px){section.dashRow .dashBox{width:100%}}section.dashRow .dashBox a{text-decoration:none;z-index:10}section.dashRow .dashBox a h2{transition:all .6s;box-shadow:none}section.dashRow .dashBox a:hover h2{box-shadow:inset 0 0 1.3rem 1.3rem #87053b;color:#fff}section.dashRow .dashBox p a{text-decoration:underline;color:#02040F}section.dashRow .dashBox.nonList ul{list-style:disc;line-height:1.33em;font-size:0.95rem;padding-left:2rem}section.dashRow .dashBox.doubleWidth{width:66%}@media (max-width: 1000px){section.dashRow .dashBox.doubleWidth{width:100%}}section.dashRow.hasDoubleWidth .dashBox{margin-bottom:1rem}section.dashRow.hasDoubleWidth .dashBox:nth-of-type(1){order:1;display:flex;flex-direction:column;justify-content:space-between}section.dashRow.hasDoubleWidth .dashBox:nth-of-type(2){order:2}@media (max-width: 1000px){section.dashRow.hasDoubleWidth .dashBox:nth-of-type(2){order:4}}section.dashRow.hasDoubleWidth .dashBox:nth-of-type(3){order:4}section.dashRow.hasDoubleWidth .dashBox:nth-of-type(4){order:4}section.dashRow.hasDoubleWidth .dashBox:nth-of-type(5){order:5}section.dashRow h2{display:block;color:#fff;width:100%;background:#09375f;padding:.5rem;font-size:1.2rem;font-family:"mr-eaves-xl-modern",sans-serif;text-transform:uppercase;margin-bottom:1rem;letter-spacing:.05em}section.dashRow h2 i{float:right}section.dashRow p{padding:0 .75rem .5rem;font-size:.95rem;line-height:1.3em}section.dashRow p.link{position:absolute;bottom:0;width:100%;font-size:1.1rem;background:#E5DADA;margin-top:.5rem;line-height:2rem;font-family:"mr-eaves-xl-modern",sans-serif;padding:0;transition:all .3s}section.dashRow p.link a{color:#87053b;width:100%;display:inline-block;text-decoration:none;text-align:center;transition:all .6s;box-shadow:none}section.dashRow p.link a:hover{color:#fff;box-shadow:inset 0 0 1rem 1rem #09375f}section.dashRow p.link i{margin:0 .25rem}section.dashRow.frontAlert{max-width:50rem}section.dashRow.frontAlert p{color:#02040F;font-size:1.1rem;font-weight:bold;font-style:italic;text-align:center}section.dashRow.frontAlert a{color:#02040F}img.magazine{width:60%;margin:0 20%;padding:0;transition:all .3s;box-shadow:none}img.magazine:hover{transform:scale(1.03)}img.supplierLogo{margin:2rem auto;display:block}img.supplierLogo.flRight{float:right;margin:0 0 0 1rem}@media (max-width: 1000px){img.supplierLogo.flRight{margin:0 1rem}}@media (max-width: 500px){img.supplierLogo.flRight{float:none;margin:auto}}h3.testimonials{margin-top:3rem}.supplierTestimonials{background:rgba(135,5,59,0.05);padding:1.5rem 1.5rem 1.25rem 1.5rem;margin-bottom:1rem}.supplierTestimonials .testimonial{border-bottom:1px solid rgba(135,5,59,0.25);padding-bottom:1rem;margin-bottom:1rem}.supplierTestimonials .testimonial:last-of-type{border-bottom:none;margin-bottom:0;padding-bottom:0}.supplierTestimonials .testimonial p{margin-bottom:.25em}main blockquote{position:relative;margin:auto;line-height:1.3em;background:rgba(229,218,218,0.5);padding:1rem 1rem 0;width:100%;border:0.1rem solid #87053b;box-shadow:inset 0 0 0 0.1rem #fff}@media (max-width: 1000px){main blockquote{margin:0 1rem;width:calc(100% - 2rem)}}main blockquote p{padding:0}div.testimonials{position:relative;margin:1rem auto;padding:1rem 0;text-align:justify;font-style:italic;width:100%;order:8}@media (max-width: 1000px){div.testimonials{padding:0;margin:0 auto 1rem;width:calc(100% - 4rem)}}@media (max-width: 500px){div.testimonials{width:calc(100% - 2rem)}}div.testimonials .prev,div.testimonials .next{position:absolute;top:calc(50% - 1rem);transform:translateY(-50%);color:rgba(255,255,255,0.5);padding:0 1rem;z-index:1;cursor:pointer;transition:all .5s}div.testimonials .prev:hover,div.testimonials .next:hover{color:#fff;text-shadow:0 0 0.5em rgba(2,4,15,0.5)}div.testimonials .prev a,div.testimonials .next a{color:rgba(2,4,15,0.25);transition:color .3s}div.testimonials .prev a:hover,div.testimonials .next a:hover{color:rgba(2,4,15,0.75)}div.testimonials .prev{left:0}@media (max-width: 500px){div.testimonials .prev{left:-.5em}}div.testimonials .next{right:0}@media (max-width: 500px){div.testimonials .next{right:-.5em}}div.testimonials blockquote{position:relative;margin:auto;line-height:1.3em;background:rgba(229,218,218,0.5);padding:1rem 0;border-radius:0 1rem;box-shadow:inset 0 0 3rem rgba(2,4,15,0.1);width:100%;border:none}@media (max-width: 500px){div.testimonials blockquote{padding:3rem 1rem 2.5rem}}div.testimonials blockquote i{color:#fff;z-index:1}div.testimonials blockquote .fa-quote-left{position:absolute;top:-.25rem;left:0}div.testimonials blockquote .fa-quote-right{position:absolute;right:-.1rem;bottom:-.5rem}div.testimonials blockquote p{position:relative;z-index:2;max-width:65%;margin:auto}@media (max-width: 1000px){div.testimonials blockquote p{max-width:85%}}@media (max-width: 500px){div.testimonials blockquote p{max-width:95%}}div.testimonials strong{display:block;font-weight:700;color:#87053b;text-align:center;padding:.5rem 0 0;-webkit-text-size-adjust:100%;max-width:65%;margin:0 auto}@media (max-width: 1000px){div.testimonials strong{max-width:85%;margin:auto}}@media (max-width: 500px){div.testimonials strong{max-width:95%;padding:0}}div.news{padding:0 .5rem;font-size:.95rem}div.news a{transition:all .6s;border-left:3px solid transparent;padding:0 .4rem 0 0;display:block}div.news a:hover{border-left:3px solid #09375f;padding:0 0 0 .4rem}div.news a:hover h3{color:#09375f}div.news a p{color:#02040F}div.news a div.image{float:left;margin:.2rem .7rem 0 0}div.news a:after{content:'';display:block;clear:both}div.news .article-container{margin-bottom:.75rem}div.news img{width:5rem}div.news h3{font-family:"mr-eaves-xl-modern",sans-serif;font-size:1.2rem;display:block;font-weight:bold;color:#87053b;line-height:1.1em;display:inline-block;width:100%;padding:.1em .3em .1em 0;transition:all .6s;border-left:2px solid transparent}div.news h3:hover{color:#87053b}div.news p{padding-bottom:0}div.news p.news-read-more{padding-top:.5rem}div.news p.news-read-more a{color:rgba(2,4,15,0.75)}div.news i{margin-left:.2rem;display:inline}ul.events{font-size:.9rem;padding:0 .5rem;font-size:.5rem}ul.events a{transition:all .6s;color:#87053b;padding:.2rem .5rem .2rem 0;display:inline-block;width:100%;border-left:3px solid transparent;margin-bottom:.6rem}@media (max-width: 500px){ul.events a{padding-bottom:0;margin-bottom:.4rem}}ul.events a:hover{padding:.2rem 0 .2rem .5rem;border-left:3px solid #09375f}ul.events a:hover .title{color:#09375f}ul.events a p{padding:0;color:#02040F}ul.events .title{color:#87053b;font-family:"mr-eaves-xl-modern",sans-serif;font-size:1.2rem;font-weight:700;display:block;padding-bottom:.2rem}ul.events i{margin-left:.2rem;display:inline}#layout_content{max-width:50rem;margin:7.5rem auto 2rem;border-bottom:1px solid #09375f}@media (max-width: 1000px){#layout_content{margin-top:6.5rem}}@media (max-width: 500px){#layout_content{margin-top:5.5rem}}#layout_content .article-detail{max-width:50rem;margin:auto;line-height:1.33em}@media (max-width: 1000px){#layout_content .article-detail{padding:0 2rem 1.5em}}@media (max-width: 500px){#layout_content .article-detail{padding:0 1rem 1.5em}}#layout_content .extraContent .marketPlace .article-detail{padding:0}#layout_content .content em{font-style:italic}main{padding-top:1rem}@media (max-width: 1000px){main{padding-top:0}}main h1,main h2,main h3,main h4,main h5{max-width:50rem;margin:.8em auto .3em}@media (max-width: 1000px){main h1,main h2,main h3,main h4,main h5{max-width:100%;padding:0 2rem}}@media (max-width: 500px){main h1,main h2,main h3,main h4,main h5{padding:0 1rem}}main h2+h3{margin-top:-.5em}main p{line-height:1.5em;max-width:50rem;margin:auto auto 1.33em auto}@media (max-width: 1000px){main p{max-width:100%;padding:0 2rem}}@media (max-width: 500px){main p{padding:0 1rem}}@media (max-width: 1000px){main .article-detail p{padding:0}main .article-detail p:last-of-type{margin-bottom:0}}main .moreLink{width:100%;text-align:right;margin:.5em 0 0}main .moreLink.inline{display:inline}main .moreLink a{color:#87053b;font-weight:bold;text-decoration:none;transition:color .6s}main .moreLink a:after{content:'\f105';font-family:FontAwesome;margin-left:.3em}main .moreLink a:hover{color:#09375f}main a{color:#02040F;transition:color .3s}main a.button{margin:.4rem;padding:.5rem 1.3rem;background:#87053b;display:inline-block;text-shadow:none;font-size:1rem;border-radius:.3em;color:#fff;text-decoration:none;transition:all .6s;box-shadow:none}main a.button.down:after{content:'\f107';font-family:FontAwesome;margin-left:.3em}main a.button:hover,main a.button.selected{box-shadow:inset 0 0 1.3rem 1.3rem #09375f;color:#fff}main a:hover{color:#87053b}main :target{display:block;position:relative;top:-125px;visibility:hidden}main strong{font-weight:bold}main ul,main ol{list-style:disc;max-width:50rem;margin:auto auto 1.33em auto;padding:0 0 0 2em;line-height:1.5em}@media (max-width: 1000px){main ul,main ol{max-width:100%;margin:0 2rem 1.33rem}}@media (max-width: 500px){main ul,main ol{max-width:100%;margin:0 1rem 1.33rem}}main ol{list-style:decimal}main img{max-width:100% !important;height:auto}main img.headImage{max-width:50% !important;height:auto;float:right;margin:0 0 1rem 1rem}@media (max-width: 1000px){main img.headImage{margin-right:2rem}}@media (max-width: 500px){main img.headImage{margin-right:1rem}}main img.thumb{max-width:50%;margin:0 auto 1.5rem;display:block}main img.pull-right{float:right;margin:0 5rem 1rem 1rem}main ul.B_crumbBox{max-width:none;margin:1rem 0;padding:0 0 .2em;font-size:.9rem;border-bottom:1px solid #09375f}@media (max-width: 1000px){main ul.B_crumbBox{padding:0 2rem .2rem}}@media (max-width: 500px){main ul.B_crumbBox{padding:0 1rem .2rem}}main ul.B_crumbBox li{display:inline}main ul.B_crumbBox a{color:#09375f;text-decoration:none}main ul.B_crumbBox a:hover{color:#87053b}main table{margin-bottom:2rem}@media (max-width: 1000px){main table{margin:0 2rem 2rem}}@media (max-width: 500px){main table{margin:0 1rem 2rem;display:block;overflow-x:auto}main table td,main table th{border:1px solid rgba(229,218,218,0.4)}}main table.table-striped tr:nth-of-type(odd){background:rgba(229,218,218,0.2);border:1px solid rgba(229,218,218,0.4);border-width:1px 0}main table th{font-weight:bold;padding:.2em 0;vertical-align:middle}main table p,main table ul{padding:.5em}main table p{margin-bottom:.3em}main .buttonCloud{text-align:center}@media (max-width: 500px){main .buttonCloud{padding:0 .5rem;display:flex;flex-wrap:wrap}main .buttonCloud .button{flex-grow:1;margin:.3rem;padding:.5rem}}main .buttonCloud.rule{border-bottom:.5rem solid #09375f;padding:1rem 0}.socialBtns{max-width:50rem;margin:2rem auto 0;padding-bottom:2rem}@media (max-width: 1000px){.socialBtns{max-width:100%;padding:0 2rem 1.5rem}}@media (max-width: 500px){.socialBtns{padding:0 1rem 1.5rem}}.socialBtns h4{padding-left:0}.socialBtns h4 i{margin-top:1.5em}.socialBtnsHome{text-align:center;max-width:40rem;margin:-3rem auto 2rem auto}.media{border-bottom:1px solid rgba(135,5,59,0.1);padding:.5rem 0}.media .person img{margin:0 0 1rem 1rem !important}.extraContent .supplierDirectoryGroup{border-top:0.5rem solid #09375f;margin:2rem 0 0}.extraContent article{border-top:1px solid rgba(135,5,59,0.1);padding:.5rem 0 1.5rem}.extraContent article:first-of-type{border-top:none}.extraContent article.supplierDirectoryItem{padding-bottom:.5em}.extraContent article.supplierDirectoryItem:first-of-type{padding-top:0}.extraContent article[data-location*=maj]{padding:.5rem 1.5rem 1.5rem;background:rgba(135,5,59,0.05);border:1px solid rgba(135,5,59,0.1);border-bottom:none}.extraContent article .article-detail{max-width:50rem;margin:auto;line-height:1.33em}@media (max-width: 1000px){.extraContent article .article-detail{padding:0 2rem 1.5em}}@media (max-width: 500px){.extraContent article .article-detail{padding:0 1rem 1.5em}}.extraContent article p+p.detail{margin-top:-.5rem}.extraContent article em{display:inline-block;width:5rem;font-weight:normal;vertical-align:top;padding-bottom:.3rem;color:#09375f}.extraContent article span{display:inline-block;width:calc(100% - 6rem);padding-bottom:.3rem;font-weight:bold;color:#09375f}.extraContent form{max-width:50rem;margin:auto}@media (max-width: 1000px){.extraContent form{padding:0 2rem}}@media (max-width: 500px){.extraContent form{padding:0 1rem}}form textarea,form input[type="text"],form input[type="button"],form input[type="submit"]{-webkit-appearance:none}@media (max-width: 500px){form{width:90%;margin:auto;overflow:hidden}}form .control-group{margin-bottom:1rem}form .control-label,form label.checkbox{margin-bottom:.3rem;color:#09375f}form .controls{margin-top:.3rem}form input,form select,form textarea{box-sizing:border-box;border:1px solid #09375f;line-height:1.5rem;border-radius:.2rem;width:75%;font-size:1rem;padding:.2em .6em}@media (max-width: 500px){form input,form select,form textarea{width:100%}}form input:focus,form select:focus,form textarea:focus{outline-color:#09375f}form textarea{height:7rem}form select{background:transparent;width:auto;height:2rem}form input[type=checkbox]{width:auto}form input[type=submit],form button{font-size:1rem;color:white;background:#87053b;border:none;border-radius:.3rem;width:auto;min-width:25%;margin-top:1rem;padding:.2rem auto;box-shadow:none;transition:all .6s}form input[type=submit]:hover,form button:hover{box-shadow:inset 0px 0px 1.75rem 1.75rem #09375f;cursor:pointer}form button.addRepresentative:before{content:'\f0fe';font-family:FontAwesome;margin-right:.5em;font-weight:normal}form button.removeRepresentative{padding:.5rem 1rem;margin-bottom:1rem}form button.removeRepresentative:before{content:'\f146';font-family:FontAwesome;margin-right:.5em;font-weight:normal}form input[type=submit]:after{content:'\f101';font-family:FontAwesome;margin-left:.2em;font-weight:normal}form span.error span.error{display:block;padding-top:.3rem;color:#87053b}form span.error span.error:before{content:'\f0a6';font-family:FontAwesome;margin:0 .4em;font-weight:normal}form h1,form h2,form h3,form h4{padding-left:0;padding-right:0}@media (max-width: 1000px){form h1{padding:0 1rem}}@media (max-width: 500px){form h1{padding:0}}form fieldset{margin:2rem 0}@media (max-width: 1000px){form fieldset{margin:2rem 1rem}form fieldset p{padding:0}}@media (max-width: 500px){form fieldset{margin:2rem 0}}form legend{font-family:"mr-eaves-xl-modern",sans-serif;color:#87053b;font-size:1.8rem;font-weight:bold;margin-bottom:1rem;border-bottom:1px solid;width:100%;padding-bottom:.25rem}form .optionsMembershipLevels{width:100%}form .optionsMembershipLevels.error{border:1rem solid red}@media (max-width: 1000px){form .optionsMembershipLevels{margin:0}}form .optionsMembershipLevels .boolWrap{display:flex;align-items:baseline}form .optionsMembershipLevels input{width:auto;margin:0 .5rem}form .optionsMembershipLevels label{margin-left:.5rem;display:inline;line-height:1.3em}form .optionsMembershipLevels tr td:last-of-type{text-align:right}form .optionsMembershipLevels th{font-weight:normal}form .optionsMembershipLevels td{font-weight:bold}form .optionsMembershipLevels.error thead,form .optionsMembershipLevels.error tr:nth-of-type(even){background:rgba(255,0,0,0.1)}form .optionsMembershipLevels.error th,form .optionsMembershipLevels.error td{border-color:rgba(255,0,0,0.2)}form .optionsMembershipLevels .bronzeMembership td,form .optionsMembershipLevels .silverMembership td,form .optionsMembershipLevels .goldMembership td{color:white;font-weight:bold;padding:1rem;font-size:1.75em;text-transform:uppercase;font-family:"mr-eaves-xl-modern",sans-serif !important}form .optionsMembershipLevels .bronzeMembership td:first-of-type,form .optionsMembershipLevels .silverMembership td:first-of-type,form .optionsMembershipLevels .goldMembership td:first-of-type{letter-spacing:1px}@media (max-width: 500px){form .optionsMembershipLevels .bronzeMembership td,form .optionsMembershipLevels .silverMembership td,form .optionsMembershipLevels .goldMembership td{font-size:1.25em;padding:0.5em}}form .optionsMembershipLevels .bronzeMembership td{background:#9c5427}form .optionsMembershipLevels .bronzeMembershipLight td{background:rgba(156,84,39,0.2)}form .optionsMembershipLevels .silverMembership td{background:#8f9091}form .optionsMembershipLevels .silverMembershipLight td{background:rgba(143,144,145,0.2)}form .optionsMembershipLevels .goldMembership td{background:#dfa827}form .optionsMembershipLevels .goldMembershipLight td{background:rgba(223,168,39,0.2)}form .optionsMembershipLevels p{text-align:left;padding-left:1.6rem}@media (max-width: 500px){form .optionsMembershipLevels p{padding:.5rem;line-height:1.3em}}form .optionsMembershipLevels p a{font-weight:normal}form label{display:block}form .checkbox_wrap label,form .radio_wrap label{display:none}form .checkbox_wrap .boolWrap label,form .radio_wrap .boolWrap label{display:inline;margin-left:.5rem;padding-top:.1em}form .checkbox_wrap input,form .radio_wrap input{width:auto}@media (max-width: 1000px){form>.checkbox_wrap,form>.submit_wrap{padding:0 1rem}}@media (max-width: 500px){form>.checkbox_wrap,form>.submit_wrap{padding:0}}form .submit_wrap label{display:none}form .text_wrap,form .textarea_wrap,form .select_wrap,form .email_wrap,form .tel_wrap,form .checkbox_wrap{margin-bottom:1.5rem}form input[type=reset]{display:none}form #payment_registration_total{border:none;font-weight:bold;font-size:2rem;font-family:"mr-eaves-xl-modern",sans-serif;padding:.5rem 0}form input.button.submit,form button{padding:1rem 2rem;width:auto}form .boolDiv{display:flex}form .boolDiv label{padding-top:.1em}form .failureMessage{padding:0 1rem;border:1px solid #f00;background:rgba(255,0,0,0.1);color:#f00;border-radius:.5rem .5rem 0 0}form .failureMessage h3{text-transform:uppercase;color:#f00}form span.error span.error{display:block;padding-top:.3rem;color:#f00}form span.error span.error:before{content:'\f0a6';font-family:FontAwesome;margin:0 .4em;font-weight:normal}form input.error,form textarea.error,form select.error{border-color:#f00;background:rgba(255,0,0,0.1)}form .representative{background:rgba(0,0,0,0.05);padding:1px 1em;border:1px solid rgba(0,0,0,0.1);border-radius:.2rem}form .representative+.representative{margin-top:1rem}.successMessage{padding:0 1rem;border:1px solid #080;background:rgba(0,128,0,0.05)}.well,.topResources{max-width:50rem;padding:0 1.5rem;background:rgba(9,55,95,0.05);box-shadow:inset 0px 0px 1rem rgba(9,55,95,0.05);border:1px solid rgba(9,55,95,0.2);border-radius:.3rem;position:relative;color:#09375f;margin-bottom:1.5rem;line-height:1.33em}@media (max-width: 1000px){.well,.topResources{margin:0 2rem 1.5rem;padding:0}}@media (max-width: 500px){.well,.topResources{margin:0 1rem 1rem}}.well .register,.topResources .register{color:white;background:#09375f;margin:1rem auto 0;padding:.2rem .8rem;border-radius:.3rem;text-decoration:none;font-size:.95rem;box-shadow:none;transition:all .6s}@media (max-width: 500px){.well .register,.topResources 
    .register{
        width:100%;
        margin:0.5rem auto 1rem;
        display:inline-block;
        text-align:center
    }
}.well .register:after,.topResources .register:after{
    content:'\f101';
    font-family:FontAwesome;
    margin-left:.4em;
    font-weight:normal
}
.well .register:hover,.topResources .register:hover{
    box-shadow:inset 0 0 0.9rem 0.9rem #87053b
}
.well em,.topResources em{
    display:inline-block;
    width:6rem;
    font-weight:normal;
    vertical-align:top
}
.well em:last-of-type,.topResources em:last-of-type{
    padding-bottom:0
}
.well span,.topResources span{
    display:inline-block;
    width:calc(100% - 6.5rem);
    font-weight:bold
}
.well span:last-of-type,.topResources span:last-of-type{
    padding-bottom:0
}
.well div.line,.topResources div.line{
    border-top:1px solid rgba(9,55,95,0.1);
    padding:.5rem 0
}
.well div.line:first-of-type,.topResources div.line:first-of-type{
    border:none
}
.well span.registerBox,.topResources span.registerBox{
    display:block;
    border:none;
    position:absolute;
    width:100%;
    text-align:right;
    top:.8rem;
    right:3rem
}
@media (max-width: 1000px){
    .well span.registerBox,.topResources span.registerBox{
        right:2rem
    }
}
@media (max-width: 500px){
    .well span.registerBox,.topResources span.registerBox{
        display:block;
        width:100%;
        text-align:right;
        border:none;
        position:relative;
        right:0;top:0
    }
}
.well h2,.topResources h2{margin-top:1rem;color:#09375f}.well ul,.topResources ul{list-style:none;padding-left:0;margin-bottom:.75em}.well ul li,.topResources ul li{line-height:1.5em}.well ul a,.topResources ul a{color:#09375f;text-decoration:none;transition:color .6s}.well ul a:hover,.topResources ul a:hover{color:#87053b}.well ul a:after,.topResources ul a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em}.well.well-large,.topResources.well-large{padding:.5rem 3rem}@media (max-width: 1000px){.well.well-large,.topResources.well-large{margin:0 2rem 1.5rem;padding:.5rem 2rem}}@media (max-width: 500px){.well.well-large,.topResources.well-large{margin:0 1rem 1rem;padding:.5rem 1rem 0}}.well+h2,.topResources+h2{padding-top:2rem}.downloads{padding:0 1rem 1rem;width:33%;margin:.3rem 0 2rem 2rem}@media (max-width: 1000px){.downloads{margin-right:2rem}}@media (max-width: 500px){.downloads{width:auto;margin:0 1rem 1rem 1rem}.downloads.pull-right{float:none}}.downloads h3{padding-left:0;color:#09375f}.downloads ul{list-style:none}.downloads a{text-decoration:none;color:#09375f;transition:color .6s}.downloads a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em}.downloads a:hover{color:#87053b}.downloads a[href$="pdf"]:before{content:'\f1c1';font-family:FontAwesome;margin-right:.1em}.seealso{max-width:50rem;padding:0 1rem 1rem;margin-bottom:3rem;background:rgba(9,55,95,0.05);box-shadow:inset 0 0 2rem rgba(9,55,95,0.05);border:1px solid rgba(9,55,95,0.2);border-radius:.3rem;color:#09375f}@media (max-width: 1000px){.seealso{margin:0 2rem 1.5rem;padding:.5rem 0}}@media (max-width: 500px){.seealso{margin:0 1rem 1rem;padding:0 0 .5rem}}.seealso h3{color:#09375f;margin-bottom:1rem}@media (max-width: 1000px){.seealso h3{margin-bottom:.5rem}}.seealso h4{color:#09375f;margin-top:0}@media (max-width: 1000px){.seealso h4{padding-bottom:.2em}}.seealso h4 a{color:#09375f}.seealso h4 a:after{content:'\f101';font-family:FontAwesome;margin-left:.2em;font-weight:normal}.seealso .media{border-bottom:none;padding:0}article a.label{color:white;background:#87053b;font-size:.9rem;padding:.2rem .4rem;border-radius:.2rem;text-decoration:none;transition:all .6s;box-shadow:none}article a.label:hover{box-shadow:inset 0 0 0.7rem 0.7rem #09375f;color:white}.currentMagazineWrap{max-width:40rem;margin:auto}.currentMagazineWrap .currentMagazine{max-width:30rem}.currentMagazineWrap img{width:100%}.currentMagazineWrap p{margin-bottom:.3em}.currentMagazineWrap p a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em}.currentMagazineWrap p a[href$="pdf"]:before{content:'\f1c1';font-family:FontAwesome;margin-right:.4em}.previousMagazines{max-width:40rem;margin:auto;display:flex;flex-wrap:wrap;justify-content:space-between}.previousMagazines h2{width:100%}.previousMagazines .previousMagazine{width:48%;margin-bottom:3rem}.previousMagazines p{margin-bottom:.3em}.previousMagazines p a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em}.previousMagazines p a[href$="pdf"]:before{content:'\f1c1';font-family:FontAwesome;margin-right:.4em}.previousMagazines img{width:100%;margin-bottom:.5rem}.previousMagazine p a,.currentMagazine p a{text-decoration:none;background:#87053b;width:100%;display:inline-block;border-radius:.3rem;transition:all .6s;padding:.5em 1em;box-sizing:border-box;color:white;box-shadow:none}.previousMagazine p a:hover,.currentMagazine p a:hover{box-shadow:inset 0 0 2rem 2rem #09375f}ul.media-list{list-style:none;padding:0}ul.media-list img{display:inline-block;width:8rem;margin:1.2rem 1rem 0 0;vertical-align:top}@media (max-width: 500px){ul.media-list img{display:inline;margin:0 0 .2rem 0}}ul.media-list div{display:inline-block;width:calc(100% - 9.3rem)}@media (max-width: 500px){ul.media-list div{display:inline}}@media (max-width: 500px){ul.media-list{text-align:center}ul.media-list .media-body{text-align:left}ul.media-list h3,ul.media-list p{padding-left:0}}.extraContent article.marketPlace{padding:0}@media (max-width: 1000px){.extraContent article.marketPlace{padding:0 2rem}.extraContent article.marketPlace h3{padding:0}}@media (max-width: 500px){.extraContent article.marketPlace{padding:0 1rem;text-align:center}}.extraContent article.marketPlace img{display:inline-block;width:8rem;margin:1.2rem 1rem 0 0;vertical-align:top}@media (max-width: 500px){.extraContent article.marketPlace img{display:inline;margin:1.2rem auto 0}}.extraContent article.marketPlace div{display:inline-block;width:calc(100% - 9.3rem)}@media (max-width: 500px){.extraContent article.marketPlace div{width:100%;text-align:left}}.extraContent article.marketPlace div div.article-detail{width:100%;padding:0}.extraContent article.marketPlace p.moreLink{text-align:left;padding:0}.extraContent article.marketPlace p.moreLink a{color:#87053b;padding:1em 0;display:inline-block;transition:color .6s}.extraContent article.marketPlace p.moreLink a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em}.extraContent article.marketPlace p.moreLink a:hover{color:#09375f}.extraContent article.marketPlace .articlePublishedDate{padding:0}.articlePublishedDate{font-style:italic;font-size:.95rem;margin-bottom:.6rem}.pagination ul{list-style:none;display:flex;flex-wrap:nowrap;justify-content:space-around;margin:1rem auto;max-width:75%;padding-left:0}@media (max-width: 500px){.pagination ul{max-width:100%;padding:0 1.5rem}}.pagination ul li{border:1px solid #E5DADA;border-left:none;flex-grow:1;text-align:center;overflow:hidden}.pagination ul li a{padding:.2em 0;display:inline-block;width:100%;color:#87053b;transition:all .6s;box-shadow:none;text-decoration:none}.pagination ul li a:hover,.pagination ul li a.active{color:white;box-shadow:inset 0 0 1rem 1rem #87053b}.pagination ul li:first-of-type{border-left:1px solid #E5DADA;border-radius:.3em 0 0 .3em}.pagination ul li:last-of-type{border-radius:0 .3em .3em 0}div.ads{display:flex;justify-content:center;margin:1rem auto;order:4}@media (max-width: 1000px){div.ads{width:100vw;margin:.5rem auto 1.5rem;padding:0 2rem;order:3}}@media (max-width: 500px){div.ads{margin:0 auto .5rem;padding:0 1rem;flex-direction:column;align-items:center}}div.ads .ad{width:100%;transition:opacity .3s;max-width:49%;margin-left:2%}@media (max-width: 1000px){div.ads .ad{max-width:48.5%;margin-left:3%}}@media (max-width: 500px){div.ads .ad{max-width:475px;margin:0 0 .5rem}}div.ads .ad:first-of-type{margin-left:0}div.ads .ad img{width:100%}div.ads .ad.dim{opacity:.2}div.ads.constrain{display:flex}#layout_subnav{display:flex;justify-content:space-between;align-items:stretch;padding-bottom:1rem;width:40rem;margin:auto}@media (max-width: 1000px){#layout_subnav{width:100vw;padding:0 2rem 1rem}}@media (max-width: 500px){#layout_subnav{padding:0 1rem 1rem}}nav.subnav{box-sizing:border-box;width:100%;background:rgba(229,218,218,0.1);overflow:hidden;border:1px solid #09375f;border-radius:.3rem .3rem 0 0;overflow:hidden;padding-bottom:.5rem;display:block;margin:0 auto}@media (max-width: 1000px){nav.subnav{max-width:66%}}@media (max-width: 500px){nav.subnav{max-width:100%}}nav.subnav:nth-of-type(2){margin-left:3%}nav.subnav ul{list-style:none;padding:0;margin:0}nav.subnav h2{color:#fff;width:100%;background:#09375f;padding:.5rem;font-size:1.2rem;text-transform:uppercase;margin:0 0 .5em;letter-spacing:.05em;box-shadow:0 0 0.5rem rgba(2,4,15,0.2)}nav.subnav a{color:#02040F;text-decoration:none;padding:.3em .5em .3em;line-height:1em;width:100%;display:inline-block;transition:all .6s}@media (max-width: 500px){nav.subnav a{padding-bottom:.5rem}}nav.subnav a.selected{color:#fff;box-shadow:inset 0 0 1.2em 1.2em #87053b}nav.subnav a:hover{color:#fff;box-shadow:inset 0 0 0.9em 0.9em #09375f}nav.subnav .newsMonth a{padding-left:1rem}h1,h2,h3,h4{font-family:"mr-eaves-xl-modern",sans-serif !important;font-weight:bold;color:#87053b;padding-bottom:.3em}h1 a,h2 a,h3 a,h4 a{text-decoration:none;color:#87053b;transition:all .6s}h1 a:after,h2 a:after,h3 a:after,h4 a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em;color:white;transition:color .6s}h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover{color:#09375f}h1 a:hover:after,h2 a:hover:after,h3 a:hover:after,h4 a:hover:after{color:#09375f}h3 a:after{color:#87053b}h5{font-family:"mr-eaves-xl-modern",sans-serif !important;font-weight:bold;color:#87053b;padding-bottom:.3em}h5 a{text-decoration:none;color:#87053b;transition:all .6s}h5 a:hover{color:#09375f}h1{font-size:2.3rem}@media (max-width: 500px){h1{font-size:1.6rem}}h2{font-size:1.8rem}@media (max-width: 500px){h2{font-size:1.3rem}}h3{font-size:1.3rem}@media (max-width: 500px){h3{font-size:1.1rem}}h4{font-size:1.1rem}@media (max-width: 500px){h4{font-size:1rem}}h5{font-size:1.1rem}@media (max-width: 500px){h5{font-size:1rem}}hr{border:none;height:1px;color:rgba(9,55,95,0.2);background-color:rgba(9,55,95,0.2)}sup{top:-.5em}sub{bottom:-.25em}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}.backToTop{display:none;background-color:#87053b;color:#fff;padding:.5em 1em;display:inline-block;transition:box-shadow .6s;font-weight:bold;text-decoration:none;border-radius:.25em}.backToTop:before{content:'\f106';font-family:FontAwesome;margin-right:.4em}.backToTop:hover{box-shadow:inset 0 0 1rem 1rem #09375f;color:white}#searchScreen{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(255,255,255,0.9);z-index:99;display:flex;justify-content:center;align-items:center;flex-wrap:wrap;align-content:center;overflow-y:scroll;-webkit-overflow-scrolling:touch;z-index:10}#searchScreen form{width:100%}#searchScreen fieldset{border:none;text-align:center;width:100%;margin:0 0 .5rem 0}#searchScreen #as0_advsea-search{box-sizing:border-box;display:block;width:90%;max-width:500px;margin:auto;padding:.2rem 1rem .1rem;text-align:center;border:none;border-bottom:2px solid #87053b;outline:none;background:transparent;font-size:2rem;height:auto;color:#87053b;font-family:"mr-eaves-xl-modern",sans-serif;border-radius:0}#searchScreen #as0_advsea-submit{margin-top:2rem;padding:.5rem 1.3rem;background:#87053b;display:inline-block;text-shadow:none;font-size:1rem;letter-spacing:1px;font-weight:700;border-radius:.3em;color:#fff;text-decoration:none;transition:all .6s;text-transform:uppercase;box-shadow:none;border:none;outline:none;width:auto;-webkit-appearance:none}#searchScreen #as0_advsea-submit:hover{box-shadow:inset 0 0 1.3rem 1.3rem #09375f,0 0 1.3rem #fff;color:#E5DADA;cursor:pointer}#searchScreen #closeLink{width:90%;max-width:500px;text-align:right;margin-bottom:1.3rem}#searchScreen #closeLink span{padding:.5rem 1.3rem;background:transparent;font-size:1rem;letter-spacing:1px;font-weight:700;border-radius:.3em;color:#87053b;transition:all .6s;text-transform:uppercase;box-shadow:none;border:none;margin-right:-1.3rem}#searchScreen #closeLink span:hover{box-shadow:inset 0 0 1.3rem 1.3rem #87053b;color:#E5DADA;cursor:pointer}.advsea-highlight{font-weight:bold;font-style:italic}footer{padding-bottom:3rem}footer .finePrint{color:rgba(2,4,15,0.5);font-size:.8rem;text-align:center}footer .finePrint a{color:rgba(2,4,15,0.5);transition:color .3s}footer .finePrint a:hover{color:rgba(2,4,15,0.75)}@media (max-width: 1000px){footer{padding-bottom:6rem}}.constrain{width:60rem;display:block;position:relative;margin:0 auto}@media (max-width: 1000px){.constrain{width:100vw}}.jt_job{margin:0 .5rem;padding:0 .5rem 0 0;font-size:.95rem;border-left:3px solid transparent;margin-bottom:.6rem;transition:all .6s;display:block}@media (max-width: 1000px){.jt_job{margin-bottom:.3rem}}.jt_job:hover{padding:0 0 0 .5rem;border-left:3px solid #09375f;cursor:pointer}.jt_job:hover .jt_job_position a{color:#09375f}.jt_job:last-of-type{padding-bottom:0}.jt_job .jt_job_position a{color:#87053b;font-family:"mr-eaves-xl-modern",sans-serif;font-size:1.2rem;font-weight:700;transition:all .6s;width:100%;display:block;padding:.2em 1em .2em 0;border-radius:.3rem .3rem 0 0}@media (max-width: 1000px){.jt_job .jt_job_position a{padding-bottom:0}}.jt_job .jt_job_position a:after{content:'\f101';font-family:FontAwesome;margin-left:.4em;font-weight:normal}.hideLocation .jt_job_location{display:none}.jt_job_location{display:inline;background:rgba(2,4,15,0.1);padding:.1rem .25rem}@media (max-width: 1000px){.jt_job_location{display:none}}.jt_job_company{margin-top:.1rem}@media (max-width: 1000px){.jt_job_company{margin-top:0}}.jt_alljobs{display:none}.supplement{padding-top:2rem;display:block}@media (max-width: 500px){.supplement{display:none}}.printOnly{display:none}@media print{header{position:relative;height:auto;box-shadow:none}header #mobileMenu{display:none}header nav{display:none}header h1{width:90vw}.B_crumbBox{display:none}.buttonCloud{display:none}#layout_content{margin-top:0}#layout_content h1{text-align:center}.socialBtns{display:none}div.ads.constrain{display:none}#layout_subnav{display:none}.supplierDirectoryItem{break-inside:avoid}.supplierDirectoryItem .moreLink a{display:none}footer{display:none}footer.constrain{display:none}#tawkToScript+div{display:none}.printOnly{display:inline}}.slick-dots{text-align:center}.slick-dots li{display:inline}.slick-dots li.slick-active button{background:rgba(2,4,15,0.5)}.slick-dots button{width:.8rem;height:.8rem;border-radius:50%;display:inline-block;border:none;background:rgba(2,4,15,0.25);margin:.2rem;transition:background .3s;font-size:.9rem;font-size:0;line-height:0;color:transparent;outline:none}.slick-dots button:hover{background:rgba(2,4,15,0.5);cursor:pointer}div.buttonLine a{color:#02040F;transition:color .3s}div.buttonLine a.button{margin:0 auto 1rem;padding:.5rem 1.3rem;background:#87053b;display:block;text-shadow:none;font-size:1rem;color:#fff;text-decoration:none;transition:all .6s;box-shadow:none;width:100%}div.buttonLine a.button:hover,div.buttonLine a.button.selected{box-shadow:inset 0 0 1.3rem 1.3rem #09375f;color:#fff}a.buttonDash{margin:1.5rem auto 1rem;padding:.5rem 1.3rem;background:#09375f;display:inline-block;text-shadow:none;font-size:1rem;border-radius:.3em;color:#fff;text-decoration:none;transition:all .6s;box-shadow:none;width:auto;text-align:center}a.buttonDash:hover,a.buttonDash.selected{box-shadow:inset 0 0 1.3rem 1.3rem #87053b;color:#fff}.left{text-align:left}.center{text-align:center}.right{text-align:right}.embed-container{padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;position:relative}.embed-container iframe,.embed-container object,.embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%}.logoRollContainer{padding-top:2rem}@media (max-width: 1000px){.logoRollContainer{padding-top:0}}.logoRoll{margin:1rem 0;text-align:center;position:relative;max-width:100%;overflow-y:hidden}.logoRoll ul{height:5rem;display:flex;width:calc(100% - 6rem);padding:.5rem 0;margin:0 auto;overflow:hidden}.logoRoll li{padding:0 3rem;height:4rem}.logoRoll img{max-height:4rem;max-width:8rem;height:auto;width:auto;position:relative;top:50%;transform:translateY(-50%)}.logoRoll .prev,.logoRoll .next{position:absolute;top:50%;transform:translateY(-50%);color:rgba(2,4,15,0.33);padding:0 1rem;z-index:1;cursor:pointer;transition:all .5s}.logoRoll .prev:hover,.logoRoll .next:hover{color:rgba(2,4,15,0.66);text-shadow:0 0 0.5em rgba(2,4,15,0.5)}.logoRoll .prev{left:0}@media (max-width: 500px){.logoRoll .prev{left:-.5em}}.logoRoll .next{right:0}@media (max-width: 500px){.logoRoll .next{right:-.5em}}.logoRoll div.slick-list:before,.logoRoll div.slick-list:after{display:block;content:'';width:2rem;height:100%;position:absolute;top:0;z-index:10}.logoRoll div.slick-list:before{left:-1px;background-image:linear-gradient(270deg, rgba(255,255,255,0) 0, #fff 100%)}.logoRoll div.slick-list:after{right:-1px;background-image:linear-gradient(90deg, rgba(255,255,255,0) 0, #fff 100%)}